{% assign member = site.members 
  | where_exp: "member", "member.slug == include.lookup"
  | first
  | default: include
%}

<div class="portrait-wrapper">
  <a
    {% if member.role == 'GA' or member.role == 'Lead' or member.role == 'Co-PI' %}
      href="{{ member.url | relative_url }}"
    {% endif %}
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member link" }}"
  >
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
    >
    {% if member.name %}
      <span class="portrait-text">
        <span class="portrait-name">
          {{ member.name }}
        </span>
        {% if member.role == 'Col' and member.external_links or member.links %} 
          <div class="portrait-links">
            {% for link in member.external_links or for link in member.links %}
              <a href="{{ link.url }}" class="external-link">{{ link.icon }}</a>
            {% endfor %}
          </div>
        {% endif %}

        {% if member.role == 'Col' and member.links  or member.external_links%}
        <div class="portrait-links">
          {% for link in member.links or for link in member.role == 'Col' %}
            <a href="{{ link.url }}" class="external-link">{{ link.icon }}</a>
          {% endfor %}
        </div>
      {% endif %}
      
      </span>
    {% endif %}


    {% if member.name or member.role or member.description %}
    <span class="portrait-text">
      {% if member.role or member.description %}
        <span class="portrait-role">
          {% assign type = site.data.types[member.role] %}
          <span>{{ member.subtitle | default: type.subtitle }} <br> </span>
          {% include icon.html icon=type.icon %}
          <span>{{ member.description | default: type.description }}</span>
        </span>
      {% endif %}
    </span>
  {% endif %}

  </a>
</div>
